@model EcoStore.ViewModels.UserViewModel
@{ 
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/BeckendAssets/img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="~/Content/BeckendAssets/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/BeckendAssets/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/BeckendAssets/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Content/BeckendAssets/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/Content/BeckendAssets/fonts/flaticon.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/BeckendAssets/css/animate.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/BeckendAssets/css/style.css">
    <!-- Modernize js -->
    <script src="~/Content/BeckendAssets/js/modernizr-3.6.0.min.js"></script>
</head>

<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- Login Page Start Here -->
    <div class="login-page-wrap">
        <div class="login-page-content">
            <div class="login-box">
                <div class="item-logo">
                    <img src="~/Content/BeckendAssets/img/logo2.png" alt="logo">
                </div>
                @using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { @class = "login-form" }))
                {
                <div class="form-group">
                    <label>Username</label>
                    @Html.EditorFor(m=>m.Email,new { htmlAttributes = new { @class = "form-control", placeholder = "Enter usrename", @Value = ViewBag.email } })
                    <i class="far fa-envelope"></i>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter password",@Value = ViewBag.pass } })
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="remember-me">
                        <label for="remember-me" class="form-check-label">Remember Me</label>
                    </div>
                    <a href="#" class="forgot-btn">Forgot Password?</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="login-btn">Login</button>
                </div>
                }

            </div>
        </div>
    </div>
    <!-- Login Page End Here -->
    <!-- jquery-->
    <script src="~/Content/BeckendAssets/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="~/Content/BeckendAssets/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="~/Content/BeckendAssets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Content/BeckendAssets/js/bootstrap.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="~/Content/BeckendAssets/js/jquery.scrollUp.min.js"></script>
    <!-- Custom Js -->
    <script src="~/Content/BeckendAssets/js/main.js"></script>

</body>
</html>